## Last changed: 2016-01-13 13:35:43 UTC
version 12.1X46-D30.2;
system {
    host-name srxD-4;
    root-authentication {
        encrypted-password "$1$1wSeqWR8$iR/YrjUUp8hRv95byF3yX1"; ## SECRET-DATA
        ssh-dsa "ssh-dss AAAAB3NzaC1kc3MAAACBAMQrfP2bZyBXJ6PC7XXZ+MzErI8Jl6jah5L4/O8BsfP2hC7EvRfNoX7MqbrtCX/9gUH9gChVuBCB+ERULMdgRvM5uGhC/gs4UX+4dBbfBgKYYwgmisM8EoT25m7qI8ybpl2YZvHNznvO8h7kr4kpYuQEpKvgsTdH/Jle4Uqnjv7DAAAAFQDZaqA6QAgbW3O/zveaLCIDj6p0dwAAAIB1iL+krWrXiD8NPpY+w4dWXEqaV3bnobzPC4eyxQKBUCOr80Q5YBlWXVBHx9elwBWZwj0SF4hLKHznExnLerVsMuTMA846RbQmSz62vM6kGM13HFonWeQvWia0TDr78+rOEgWF2KHBSIxL51lmIDW8Gql9hJfD/Dr/NKP97w3L0wAAAIEAr3FkWU8XbYytQYEKxsIN9P1UQ1ERXB3G40YwqFO484SlyKyYCfaz+yNsaAJu2C8UebDIR3GieyNcOAKf3inCG8jQwjLvZskuZwrvlsz/xtcxSoAh9axJcdUfSJYMW/g+mD26JK1Cliw5rwp2nH9kUrJxeI7IReDp4egNkM4i15o= configurator@server1.he"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$1$84J5Maes$cni5Hrazbd/IEHr/50oY30"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh;
        netconf {
            ssh;
        }
        web-management {
            http {
                interface ge-0/0/0.0;
            }
            https {
                system-generated-certificate;
                interface all;
            }
        }
    }
    syslog {
        file messages {
            any critical;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
interfaces {
    ge-0/0/0 {
        description "MGMT Interface - DO NOT DELETE";
        unit 0 {
            family inet {
                address 10.210.14.156/26;
            }
        }
    }
    ge-0/0/5 {
        unit 0 {
            family inet6 {
                address FC00:1234:ABCD:D3D4::D4:5/64;
            }
        }
    }
    ge-0/0/6 {
        unit 0 {
            family inet6 {
                address FC00:1234:ABCD:D2D4::D4:6/64;
            }
        }
    }
    ge-0/0/7 {
        unit 0 {
            family inet6 {
                address FC00:1234:ABCD:D1D4::D4:7/64;
            }
        }
    }
    ge-0/0/8 {
        unit 0 {
            family inet6 {
                address FC00:1234:ABCD:D4CE::D4:8/64;
            }
	    }
    }
    lo0 {
        unit 0 {
            family inet6 {
				address FC00:1234:ABCD::D4:1/128
			}
        }
    }
}
snmp {
    location lab;
    contact "labguy@juniper.net";
    community public {
        authorization read-write;
    }
}
routing-options {
    router-id 192.168.1.4;
    autonomous-system 18;
}
protocols {
	bgp {
		family inet6{
			any;
		}
        group internal-peers {
            type internal;
            local-address FC00:1234:ABCD::D4:1;
            export send-ospf;
            neighbor fc00:1234:abcd::d1:1;
            neighbor fc00:1234:abcd::d2:1;
			neighbor fc00:1234:abcd::d3:1;
			neighbor fc00:1234:abcd::c1:1;
			neighbor fc00:1234:abcd::c2:1;
			neighbor fc00:1234:abcd::c3:1;
			neighbor fc00:1234:abcd::c4:1;
        }
    }
    ospf3 {
		area 0.0.0.1 {        
			interface ge-0/0/5.0;
			interface ge-0/0/8.0;
			interface lo0.0;
		}
		area 0.0.0.0 {
			interface ge-0/0/6.0;
			interface ge-0/0/7.0;
		}
    }
}
policy-options {
    policy-statement send-ospf {
        term 2 {
            from protocol ospf3;
            then accept;
        }
    }
}
security {
    forwarding-options {
        family {
			inet6 {
				mode packet-based;
			}
		}
    }
    zones {
        security-zone trust {
            interfaces {
                ge-0/0/0.0 {
                    host-inbound-traffic {
                        system-services {
                            all;
                        }
			protocols {
			    all;
			}
                    }
                }
            }
        }
    }
}
